@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Oswald:wght@200;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap);
*{margin:0;padding:0;box-sizing:border-box;font-family:'Josefin Sans';color:#fff;background-color:#000}
body,html{width:100%;height:100%}
a,h1,h2,h3,h4,h5,h6,img,p{margin:0;padding:0}
img{vertical-align:middle}
a{text-decoration:none}
.mouse_circle{transition:all cubic-bezier(.075,.82,.165,1) 1s;height:15px;width:15px;border-radius:50%;background-color:#fff;position:absolute;z-index:9999}
#main{background-color:#000}
#main .hero{width:100%;height:100vh;background-color:#000;position:relative}
#main .hero .nav{width:100%;padding:30px 40px;color:#fff;display:flex;justify-content:space-between;position:relative}
.nav_item{position:absolute;display:flex;top:36%;right:10%;text-transform:uppercase;gap:1.5vw;opacity:0}
.menu:hover .nav_item{opacity:1}
#main .hero .nav a{color:#fff;font-size:1.5vmax;text-transform:uppercase}
#main .heading{margin-top:80px;text-transform:uppercase}
.bounding{width:fit-content;overflow:hidden;z-index:1}
.boundingelm{transform:translateY(100%)}
#main .heading h1{margin-left:1.5vw;font-size:9vmax;opacity:.6}
#main .heading .dsg{width:fit-content;margin-left:8vw}
#main .heading .dsg h5{margin-top:-1.5vw;text-align:end;opacity:.7;font-size:1.2vw}
#main .small_heading{margin-top:100px;padding-right:50px;display:flex;flex-direction:column;align-items:end}
#main .small_heading h5{text-align:right;font-size:1.2vw;padding-top:.8vw}
.hero_footer{display:flex;justify-content:space-between;position:absolute;bottom:5%;width:100%;padding:0 3vw}
.hero_footer .icon_set{display:flex;gap:5px}
.hero_footer a:hover .arr_icon{transform:rotate(0);transform:scaleX(1.4);transition:.5s}
.arr_icon{transform:rotate(-45deg);display:inline-block;width:fit-content}
.hero_footer .icon_set .circle{display:flex;justify-content:center;align-items:center;height:25px;width:25px;border-radius:50%;background-color:#aaa}
.hero_footer .icon_set .circle i{color:#000;font-weight:900}
.exp_main{width:100%;padding-top:15vw;background-color:#000;color:#fff;padding-right:10%}
.elem{padding-top:1.5vw;position:relative;width:100%;border-top:1px solid #888;display:flex;justify-content:space-between;align-items:center}
.elem h1{font-size:8vw;text-transform:uppercase;opacity:.6}
.elem:last-child{border-bottom:1px solid #888}
.elem img{position:absolute;height:130%;z-index:999;opacity:0}
.about_main{width:100%;background-color:#000;padding:10vw 5vw}
.about_main .about_img{height:15vw;width:15vw;background:url(../img/me1.jpg) no-repeat center/cover;border-radius:50%;display:inline-block;margin-bottom:1.7vw}
.about_main .about_text{display:inline-block;padding-left:5vw;width:35vw;font-size:1.3vw}
.about_main .about_text h5{text-transform:uppercase;opacity:.6}
.about_main .about_text p{margin-bottom:1.5vw}
.about_main .about_text a{border:1px solid #fff;padding:.5vw 1vw;border-radius:20px}
.about_main .about_inner{padding-left:35vw}
.footer_main{background-color:#000;padding:2vw 3vw}
.footer_main .yt_link{padding-bottom:9vw}
.footer_main .yt_link p{opacity:.6}
.footer_main .yt_link a{font-size:1.5vw}
.footer_main .footer_end{display:flex;justify-content:space-between}
.footer_main .footer_end .sect{display:flex;gap:4vw}